// media
@mixin xxs {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
@mixin xs {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin sm {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
@mixin md {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}

@mixin min_ {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin min_xs {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
// @mixin dir {
//     html[dir="#{$dir}"] & {
//         @content;
//     }
// }
@mixin en {
  html[dir="ltr"] & {
    @content;
  }
}
@mixin ar {
  html[dir="rtl"] & {
    @content;
  }
}

@mixin d_flex_c {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn_m {
  @include d_flex_c;
  width: 38px;
  height: 38px;
  border: 2px solid $color_2;
  font-size: $font_s;
  color: $color_2;
  margin-inline-end: 10px;
}

@mixin drop_d {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
@mixin btn_gh {
  height: $height_btn;
  font-size: $font_s;
  font-weight: 600;
}
@mixin acpict_r {
  position: absolute;
  top: 0;
  left: 00;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin title_ab {
  font-size: 25px;
  color: $color_1;
  font-weight: 700;
  margin-bottom: 45px;
  &:after {
    content: " ";
    width: 31px;
    height: 2px;
    background-color: $color_2;
    display: block;
    position: absolute;

    margin-top: 15px;
    text-align: center;
  }
}

@mixin title_main {
  font-size: 24px;
  color: #808080;
  text-align: center;
  text-transform: capitalize;
  @include xs {
    font-size: 18px;
  }
}
@mixin angle_ {
  &::after {
    content: "ï„‡";
    font-family: "line Awesome Free";
    font-weight: 900;
    top: -11px;
    font-size: 15px;
    position: absolute;
    line-height: 3.273;
    transition: 0.5s;
    @include ar {
      left: 15px;
    }
    @include en {
      right: 15px;
    }
  }
}
@mixin owl-nav_ {
  .owl-nav {
    display: flex;
    justify-content: space-between;
    button.owl-next,
    button.owl-prev {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      color: $main_color;
      transition: 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 24px;
      }
      &:hover {
        color: $color_2;
      }
      &:focus {
        outline: 0;
      }
    }

    button.owl-prev {
      @include ar {
        right: -40px;
      }
      @include en {
        right: -40px;
      }
    }
    button.owl-next {
      @include ar {
        left: -40px;
      }
      @include en {
        left: -40px;
      }
    }
  }
  @include xs {
    .owl-nav {
      display: none;
    }
  }
}
@mixin dots_ {
  .owl-dots {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    color: $main_color;
    z-index: 9999;
    width: 100%;
    text-align: center;
    .owl-dot {
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: #bdbdbd;
      opacity: 0.5;
      margin-inline-end: 5px;
    }
    .active {
      background-color: $main_color;
      opacity: 1;
      transform: scale(1.2);
      outline: 0;
    }
  }
}
@mixin btn_appointment {
  background-color: $color_2;
  transition: 0.5s;
  color: $main_color;
  border: 2px solid transparent;
  font-weight: 700;
  min-width: 180px;
  text-transform: capitalize;
  @include xs {
    min-width: 160px;
  }
  &:hover {
    border-color: $color_4;
    background-color: $color_2;
    border-color: $color_2;
  }
}
