.intro_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}
.intro_img {
  position: relative;
  overflow: hidden;
  &::after:hover {
    img {
      transform: calc(1.2);
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 6%,
      rgba(255, 255, 255, 0) 96%
    );
  }
  img {
    max-width: 100%;
    max-height: 100%;
    transition: 1s;
  }
}
.intro_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_div {
  width: 76%;
  .title_intro {
    font-size: 34px;
    color: $color_3;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .paragraph_intro {
    font-size: 18px;
    color: $color_3;
    line-height: 1.7;
    text-align: center;
    font-weight: 400;
    margin-bottom: 80px;
  }
}

.group_btn {
  display: flex;
  justify-content: center;
  .btn_Request {
    border: 2px solid $main_color;
    &:hover {
      border-color: #d7be6f;
      transition: 0.3s;
    }
  }
  .btn_white {
    border: 2px solid #ebebeb;
    background-color: transparent;
    color: #999999;
    margin-inline-end: 10px;
  }
  .btn_white.hover_effect {
    &::before {
      background: $main_color;
    }
    &:hover {
      color: $color_1;
      border-color: transparent;
      &::before {
        background: $main_color;
      }
    }
  }
}
@include lg {
  .content_div {
    width: 80%;
    .paragraph_intro {
      margin-bottom: 40px;
      line-height: 1.5;
    }
  }
}
@include sm {
  .custom_container {
    padding: 0 15px;
  }
  .intro_section {
    display: flex;
    flex-direction: column;
  }
  .content_div {
    padding: 125px 15px 50px;
    width: 90%;

    .paragraph_intro {
      margin-bottom: 40px;
      line-height: 1.5;
    }
  }
  .intro_section {
    .group_btn {
      flex-direction: column;
      .btn_Request {
        &:first-child {
          margin-inline-end: 0px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@include xs {
  .intro_section {
    margin-bottom: 70px;
  }
  .content_div {
    width: 100%;
    .title_intro {
      font-size: 22px;
    }
    .paragraph_intro {
      font-size: 16px;
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }
  .group_btn {
    display: flex;
    justify-content: flex-start;
    .btn_white {
      font-size: 16px;
    }
  }
}
