.news_section {
  margin-bottom: 160px;
  text-align: center;
}
.news_item {
  text-align: start;
  .anc_news_img {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;

    img {
      transition: 0.5s;
      max-width: 100%;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .anc_news {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s;
    margin-bottom: 10px;
    color: $color_2;
    display: block;
    overflow: hidden;
    &:hover {
      color: $main_color;
    }
  }
  .news_paragraph {
    font-size: 14px;
    color: $color_2;
    font-weight: 400;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.anc_more {
  font-size: 16px;
  color: #a4a4a4;
  text-transform: capitalize;
  font-weight: 400;
  &:hover {
    color: $main_color;
  }
}
@include xs {
  .news {
    @include dots_;
    .owl-dots {
      bottom: -45px;
    }
  }
  .news_section {
    .title_Services {
      margin-bottom: 40px;
    }
  }
}
