.projects_section {
  padding-top: 120px;
  text-align: center;
  .title_Services {
    margin-bottom: 50px;
  }
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
  margin-bottom: 160px;
}
.projects_img {
  position: relative;
  overflow: hidden;
  img {
    transition: 0.5s;
  }
}
.gall_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_1;
    font-size: 48px;
    width: 100%;
    height: 100%;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      z-index: 4;
    }

    &::before {
      content: "";
      width: 100%;
      height: 50%;
      background-color: $main_color;
      opacity: 0.9;
      position: absolute;
      transition: 0.5s;
      bottom: 0;
      right: -100%;
      z-index: 3;
    }
    &::after {
      content: "";
      width: 100%;
      height: 50%;
      background-color: $main_color;
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: -100%;
      transition: 0.5s;
      z-index: 3;
    }
    &:hover {
      text-decoration: none;
      i {
        visibility: visible;
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
      &::after {
        left: 0;
      }
      &::before {
        right: 0;
      }
    }
  }
}
.grid_div {
  display: grid;
  gap: 30px;
}

@include sm {
  .projects_section {
    padding-top: 0;
    margin-bottom: 100px;
  }
  .projects {
    margin-bottom: 70px;

    @include dots_;
    .owl-dots {
      bottom: -30px;
    }
  }
  .projects_img {
    > img {
      max-height: 114px;
    }
  }
}
