.services {
  display: flex;
  flex-direction: column;
  .group_btn {
    justify-content: start;
  }
}
.services_img {
  overflow: hidden;
  img {
    transition: 0.9s;
    max-width: 100%;
    &:hover {
      transform: scale(1.1);
    }
  }
}
.group_services {
  display: flex;
}
.services_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.reverse_ {
  flex-direction: row-reverse;
}
.services_img,
.services_content {
  width: 50%;
}

@include sm {
  .services {
    flex-direction: column;
    .group_services {
      flex-direction: column;
      margin-bottom: 60px;
    }
  }
  .services_img,
  .services_content {
    width: 100%;
  }
  .services_content {
    margin-bottom: 40px;
  }
  .content_ {
    width: 100%;
    padding: 0 15px;
  }
  .reverse_ {
    flex-direction: row;
  }
}
