body {
  font-family: "SST";
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}
figure {
  margin: 0;
}
.ul_gh {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  image-rendering: -webkit-optimize-contrast !important;
}
.m_P_gh {
  padding: 0;
  margin: 0;
}
.anc_gh {
  display: inline-block;
  transition: 0.5s;
}
.anc_gh:hover {
  text-decoration: none;
}
.btn_gh {
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  outline: none !important;
  transition: 0.5s;
}
.d_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.moboverlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
}
.over_ {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main_color;
}

// preload
.preload {
  position: fixed;
  z-index: 1110;
  inset: 0px;
  background-color: $color_1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader_img {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 242px;
}
.filter_ {
  filter: grayscale(1);
  opacity: 0.5;
}
.width_img {
  position: absolute;
  inset: 0px;
  width: 300px;
  height: 0px;
  background-color: transparent;
  overflow: hidden;
}
.preloader_ {
  text-align: center;
}
.width_img {
  animation: height_ 5s ease infinite;
  // animation-direction: reverse;
}

@keyframes height_ {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@include xs {
  .preloader_img {
    width: 200px;
  }
  .filter_,
  .position_img {
    width: 200px;
  }
  @keyframes height_ {
    0% {
      height: 0px;
    }
    100% {
      height: 100%;
    }
  }
}
// back-up
.back_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 40;
  background-color: $color_1;

  &:hover {
    cursor: pointer;
    background-color: $main_color;
    color: $color_1;
    &::after {
      color: $color_1;
    }
  }
  color: rgb(255, 200, 0);
  &::after {
    content: "ï„†";
    font-family: "line Awesome Free";
    font-weight: 900;
    font-size: 18px;
    color: $color_2;
  }
}

.back_top.show {
  opacity: 1;
  visibility: visible;
}
