header {
  padding-top: 10px;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  img {
    margin-inline-start: 2px;
  }
  .anc_lang {
    font-size: 12px;
    color: $color_1;
    text-transform: capitalize;
    &:hover {
      color: $main_color;
    }
  }
}

.custom_container {
  padding: 0 70px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bars_ {
  font-size: 22px;
  margin-inline-start: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: $main_color;
  display: none;
  &:hover {
    color: $color_2;
  }
}
nav {
  margin-inline-end: 90px;
  .lang {
    display: none;
  }
  .close_ {
    font-size: 22px;
    color: $main_color;
    display: none;
    position: absolute;
    top: 20px;
    @include ar {
      left: 20px;
    }
    @include en {
      right: 20px;
    }
    &:hover {
      color: $color_2;
    }
  }
  .ul_nav {
    display: flex;
    > li {
      padding: 15px 0;
      &:not(:last-child) {
        margin-inline-end: 20px;
      }
      > a {
        font-size: 18px;
        color: $color_1;
        font-weight: 500;
        transition: 0.5s;
        text-transform: capitalize;
        &:hover {
          text-decoration: none;
          color: $main_color;
        }
      }
    }
  }
  .hover_menu {
    position: relative;
    &:hover {
      > a {
        color: $color_1;
      }
      .ul_menu {
        visibility: visible;
        opacity: 1;
        z-index: 20;
      }
    }
  }
  .ul_menu {
    background-color: $main_color;
    padding: 10px 20px;
    text-align: start;
    min-width: 194px;
    border-radius: 7px;
    position: absolute;
    top: 55px;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: 0.5s;
    @include ar {
      right: -20px;
    }
    @include en {
      left: -20px;
      min-width: 280px;
    }
    li {
      line-height: 2.125;
      &:not(:last-child) {
        border-bottom: 1px solid #ffffff33;
      }
      a {
        color: #fff6d0;
        font-weight: 400;
        transition: 0.5s;
        font-size: 16px;
        text-transform: capitalize;
        &:hover {
          color: $color_1;
          text-decoration: none;
        }
      }
    }
  }
}
.nav_group {
  display: flex;
  align-items: center;
}
.btn_Request {
  min-width: 199px;
  height: 55px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 27.5px;
  background-color: $main_color;
  display: block;
  text-align: center;
  line-height: 2.8;
  color: $color_1;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: $color_1;
  }
}
.hover_effect {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  transition-property: color;
  // transition-duration: 0.5s;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0px;
    border-radius: 27.5px;
    background: #ffe367;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  &:hover {
    &::before {
      transform: scale(2);
    }
  }
}
.fixed_ {
  background-color: $color_1;
  z-index: 50;
  transition: 0.5s;
  padding: 10px 0;
  box-shadow: 0px 0px 5px 0px #0000001a;
  .logo {
    img {
      height: auto;
    }
  }
}
.fixsedt {
  top: -130px;
}
@include xs {
  .bars_ {
    display: block;
  }
  .custom_container {
    > .lang {
      .anc_lang {
        display: none;
      }
    }
  }
  nav {
    transition: 0.5s;
    overflow-y: auto;
    text-align: center;
    .close_ {
      display: block;
    }
    .lang {
      position: absolute;
      top: 20px;
      display: block;
      .anc_lang {
        color: $main_color;
      }
      @include ar {
        right: 20px;
      }
      @include en {
        left: 20px;
      }
    }
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color_1;
    top: 0;
    padding-top: 100px;
    @include ar {
      right: -100%;
    }
    @include en {
      left: -100%;
    }
    .ul_nav {
      flex-direction: column;
      align-items: center;
      > li {
        margin-bottom: 15px;
        padding: 0;
        a {
          font-size: 18px;
        }
        &:not(:last-child) {
          margin-inline-end: 0px;
        }
      }
      > li {
        width: 100%;
      }
    }
  }

  .hover_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        &::after {
          color: $color_2;
        }
      }
      &::after {
        content: "";
        font-family: "line Awesome Free";
        font-weight: 900;
        font-size: 8px;
        color: $main_color;
        margin-inline-start: 2px;
        transition: 0.5s;
        margin-top: 7px;
      }
    }
    .ul_menu {
      transition: inherit;
      padding: 15px 10px;
      position: static;
      visibility: inherit;
      opacity: 1;
      z-index: 1;
      background-color: transparent;
      display: none;
      li {
        text-align: center;
        a {
          color: #939393;
          text-align: start;
        }
      }
      &::after {
        display: none;
      }
    }
  }
  header {
    img {
      height: auto;
    }
  }
}

.open_menu {
  @include ar {
    right: 0 !important;
  }
  @include en {
    left: 0;
  }
}

.fixed_form {
  position: fixed;
  // right: -200%;
  right: -1000%;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.98);
  width: 100%;
  height: 100%;
  z-index: 111;
  text-align: center;
  padding: 60px 30px 40px;
  transition: 0.5s;
  form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: calc(100vw - 30px);
    max-width: 541px;
    input,
    select {
      padding: 0 20px;
    }
  }
  .group_form {
    position: relative;
  }
  .btn_send {
    width: 100%;
  }
}

@include lg {
  .logo {
    img {
      width: 300px;
      transition: 0.5s;
    }
  }
  .btn_Request {
    line-height: 2.2;
  }
  nav {
    z-index: 20;
    @include en {
      margin-inline-end: 60px;
    }
    .ul_nav {
      > li {
        > a {
          font-size: 18px;
          color: $main_color;
          @include en {
            font-size: 16px;
          }
          &:hover {
            color: $color_2;
          }
        }
      }
    }
    .hover_menu {
      position: relative;
      &:hover {
        > a {
          color: $color_2;
        }
      }
    }
  }
  .btn_Request {
    min-width: 160px;
    height: 46px;
    border-radius: 23px;
    font-size: 16px;
  }
  .nav_group {
    .btn_Request {
      min-width: 160px;
      @include en {
        min-width: 135px;
        line-height: 2.8;
        font-size: 14px;
      }
      height: 46px;
      border-radius: 23px;
      font-size: 16px;
    }
  }
}

@include sm {
  .nav_group {
    .btn_Request {
      min-width: 120px;
      height: 36px;
      border-radius: 18px;
      font-size: 14px;
      line-height: 2.1;
      // margin-inline-start: 20px;
    }
  }
  .logo img {
    width: 150px;
  }
}
@include xs {
  .fixed_ {
    z-index: 50;
    transition: 0.5s;
    padding: 5px 0;
    .lang {
      .anc_lang {
        color: $main_color;
      }
    }
  }
}
.fixed_ {
  .lang {
    .anc_lang {
      color: $main_color;
    }
  }
}
