header {
  padding-top: 10px;
  z-index: 90;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  transition: 0.5s;
  img {
    margin-inline-start: 2px;
    margin-bottom: 2px;
  }
  .anc_lang {
    font-size: 12px;
    color: $color_1;
    text-transform: capitalize;
    &:hover {
      color: $main_color;
    }
  }
}
.logo {
  a {
    max-width: 320px;
    display: inline-block;
    img {
      max-width: 100%;
    }
  }
}
.custom_container {
  padding: 0 70px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bars_ {
  font-size: 24px;
  margin-inline-start: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  color: $color_2;
  display: none;
  &:hover {
    color: $main_color;
  }
}
nav {
  margin-inline-end: 40px;
  .lang {
    display: none;
    transition: 0.5s;
  }
  .close_ {
    font-size: 22px;
    color: #808080;
    display: none;
    position: absolute;
    top: 20px;
    @include ar {
      left: 20px;
    }
    @include en {
      right: 20px;
    }
    &:hover {
      color: $color_2;
    }
  }
  .ul_nav {
    display: flex;
    > li {
      padding: 15px 0;
      &:not(:last-child) {
        margin-inline-end: 20px;
      }
      > a {
        font-size: 16px;
        color: $color_1;
        font-weight: 500;
        transition: 0.5s;
        text-transform: capitalize;
        &:hover {
          text-decoration: none;
          color: $main_color;
        }
      }
    }
  }
  .hover_menu {
    position: relative;
    &:hover {
      > a {
        color: $color_1;
      }
      .ul_menu {
        visibility: visible;
        opacity: 1;
        z-index: 20;
      }
    }
  }
  .ul_menu {
    background-color: $main_color;
    padding: 10px 20px;
    text-align: start;
    min-width: 194px;
    border-radius: 7px;
    position: absolute;
    top: 55px;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: 0.5s;
    @include ar {
      right: -20px;
    }
    @include en {
      left: -20px;
      min-width: 280px;
    }
    li {
      line-height: 2.125;
      &:not(:last-child) {
        border-bottom: 1px solid #ffffff33;
      }
      a {
        color: #fff6d0;
        font-weight: 400;
        transition: 0.5s;
        font-size: 16px;
        text-transform: capitalize;
        &:hover {
          color: $color_1;
          text-decoration: none;
        }
      }
    }
  }
  .btn_Request {
    display: none;
  }
  .hover_menu {
    position: relative;
    &:hover {
      > a {
        color: $main_color;
      }
    }
  }
}
.nav_group {
  display: flex;
  align-items: center;
}
.btn_Request {
  min-width: 175px;
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 24px;
  background-color: $main_color;
  border: 2px solid $main_color;
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: $color_1;
  line-height: 2.4;
  display: flex;
  justify-content: center;
  @include en {
    line-height: 2.5;
    min-width: 190px;
  }
  @include ar {
    align-items: flex-start;
  }
  &:hover {
    color: $color_1;
  }
}
.hover_effect {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -2px;
    border-radius: 27.5px;
    background: #d7be6f;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  &:hover {
    &::before {
      transform: scale(1);
    }
  }
}
.fixed_ {
  background-color: $color_1;
  z-index: 50;
  transition: 0.5s;
  padding: 5px 0;
  box-shadow: 0px 0px 5px 0px #0000001a;
  .hover_menu {
    position: relative;
    &:hover {
      > a {
        color: $main_color;
      }
    }
  }
  .logo {
    img {
      height: auto;
      @include min_xs {
        width: 280px;
      }
    }
  }
  .nav_group {
    .btn_Request {
      @include en {
        line-height: 1.9;
      }
      @include ar {
        line-height: 1.9;
      }
    }
  }
}

.fixsedt {
  top: -130px;
}

.open_menu {
  @include ar {
    right: 0 !important;
  }
  @include en {
    left: 0;
  }
}
.fixed_ {
  .custom_container {
    > .lang {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .lang {
      display: block;
      margin-inline-start: 50px;
    }
  }
}
@include lg {
  .logo {
    img {
      width: 320px;
      transition: 0.5s;
    }
  }
  nav {
    z-index: 20;
    margin-inline-end: 40px;
    @include en {
      margin-inline-end: 30px;
    }
    .ul_nav {
      > li {
        > a {
          font-size: 14px;
        }
      }
    }
  }

  .nav_group {
    .btn_Request {
      border-radius: 23px;
      font-size: 16px;
    }
  }
  .fixed_ {
    .nav_group {
      .btn_Request {
        height: 40px;
        border-radius: 20px;
      }
    }
  }
}

@include sm {
  .nav_group {
    .btn_Request {
      font-size: 14px;
    }
  }
  .logo img {
    width: 200px;
  }
  .projects_img {
    .gall_hover {
      a {
        max-height: 151px;
        display: inline-block;
        img {
          max-height: 100%;
        }
      }
    }
  }
}
@include xs {
  .bars_ {
    display: block;
  }
  .custom_container {
    > .lang {
      display: none;

      .anc_lang {
        display: none;
      }
    }
  }
  nav {
    transition: 0.5s;
    overflow-y: auto;
    text-align: center;
    display: block;
    .close_ {
      display: block;
    }
    .lang {
      position: absolute;
      top: 20px;
      display: block;
      margin-inline-start: 0px;
      .anc_lang {
        color: #808080;
      }
      @include ar {
        right: 20px;
      }
      @include en {
        left: 20px;
      }
    }
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color_1;
    top: 0;
    padding: 100px 0 50px;
    @include ar {
      right: -100%;
    }
    @include en {
      left: -100%;
    }
    .ul_nav {
      flex-direction: column;
      align-items: center;
      > li {
        margin-bottom: 15px;
        padding: 0;
        a {
          font-size: 18px;
          color: $color_2;
        }
        &:not(:last-child) {
          margin-inline-end: 0px;
        }
      }
      > li {
        width: 100%;
      }
    }
    .btn_Request {
      display: block !important;
      margin: auto;
      line-height: 2.9;
      width: 90%;
    }
    .ul_nav {
      margin-bottom: 100px;
    }
  }

  .hover_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        &::after {
          color: $main_color;
        }
      }
      &::after {
        content: "ï„‡";
        font-family: "line Awesome Free";
        font-weight: 900;
        font-size: 10px;
        color: $color_2;
        margin-inline-start: 2px;
        transition: 0.5s;
        margin-top: 7px;
      }
    }
    .ul_menu {
      transition: inherit;
      padding: 15px 10px;
      position: static;
      visibility: inherit;
      opacity: 1;
      z-index: 1;
      background-color: transparent;
      display: none;
      li {
        text-align: center;
        a {
          color: #939393;
          text-align: start;
          &:hover {
            color: $main_color;
          }
        }
      }
      &::after {
        display: none;
      }
    }
    .fixed_ {
      .lang {
        display: none;
      }
    }
  }
  header {
    img {
      height: auto;
    }
  }
  .nav_group {
    .btn_Request {
      display: none;
    }
  }

  .fixed_ {
    z-index: 50;
    transition: 0.5s;
    padding: 10px 0;
  }
  .custom_container {
    > .lang {
      display: none;
    }
  }
  .projects_img {
    .gall_hover {
      a {
        max-height: 114px;
        display: inline-block;
        img {
          max-height: 100%;
        }
      }
    }
  }
}
.fixed_ {
  .lang {
    margin-bottom: 0px;
    .anc_lang {
      color: #808080;
    }
  }
  nav {
    .ul_nav {
      > li {
        > a {
          color: $color_2;
          &:hover {
            color: $main_color;
          }
        }
      }
    }
  }
}
